@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1>Sistema de Liquidacion</h1>
    <div>
        <img class="img-fluid" src="https://consultasec.com/wp-content/uploads/2020/03/CALCULADORA-DE-LIQUIDACION-1024x873.jpg" height="400" width="490" />
    </div>
</div>
